/*PARTE UNIVERSAL - INICIO*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.logo{
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
} 

.icon{
    height: 40px;
    width: 40px;
    color: black;
}

a{
    text-decoration: none;
}
/*PARTE UNIVERSAL - FIM*/

/*PARTE CABEÇALHO - INICIO*/
#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom-color: #A225F5;  
    border-bottom-style: solid;  
    border-bottom-width: 10px;
}

#cabecalho > .logo{
    margin-left: 30px;
}

#pesquisa{
    width: 500px;
}

#c_right{
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-right: 30px;
}
/*PARTE CABEÇALHO - FIM*/   

/*PARTE FIGURA 1 - INICIO*/
#index_disclaimer{
    display: flex;
    justify-content: center;
    width: auto;
    border-width: 5px;
    border-style: solid;
    border-color: black; 
    padding: 20px 0px 20px 0px;
    margin: 10px 0px 10px 0px;
}

#index > a{
    color: blue;
}

#index > h2{
    display: flex;
    justify-content: center;
    width: auto;
}

.img_product{
    width: 150px;
    height: 200px;
    padding: 10px 30px 10px 30px;
    border-width: 5px;
    border-style: solid;
    border-color: blueviolet; 
}

.product_index{ 
    color: blue;
    padding: 30px;
    width: 260px;
    border-width: 2px;
    border-style: solid;
    border-color: black; 
    margin: 5px;
}

#index_principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*PARTE FIGURA 1 - FIM*/

/*PARTE RODAPÉ - INICIO*/
.rod_link{
    text-decoration: none;
    color: purple;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rodape{
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-top-color: #A225F5;  
    border-top-style: solid;  
    border-top-width: 10px;
}

#rod_center{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#redes_sociais{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#rod_h2{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*PARTE RODAPÉ - FIM*/