/*PARTE UNIVERSAL - INICIO*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.logo{
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
} 

.icon{
    height: 40px;
    width: 40px;
    color: black;
}

a{
    text-decoration: none;
}
/*PARTE UNIVERSAL - FIM*/

/*PARTE CABEÇALHO - INICIO*/
#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-bottom-color: #A225F5;  
    border-bottom-style: solid;  
    border-bottom-width: 10px;
}

#cabecalho > .logo{
    margin-left: 30px;
}

#pesquisa{
    width: 500px;
}

#c_right{
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-right: 30px;
}
/*PARTE CABEÇALHO - FIM*/

/*PARTE FIGURA 5 - INICIO*/
.master{
    width: 1250px;
    height: 920px;
}

.titulo {
    font-size: 30px;
    padding: 5px;
}

.ca1 {
    width: 40%;
    height: 25%;
    float:left;
    font-size: 10px;
    padding: 5px 0px 5px 0px;
    border: solid black 5px;
    
}

.ca2 {
    width: 25%;
    height: 28%;
    float:right;
    font-size: 10px;
    padding: 5px 0px 0px 0px;
    float:right;
    border: solid black 5px;
    margin-right: 400px;
    
}

.ca3{
    width: 68%;
    height: 15%;   
    border: solid black 5px;
    margin-top: 300px;
 
  
}

#endr{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}

.icon{
    height: 39px;
    width: 39px;
}

.q{
    margin-left:5px;
    margin-top: 5px;  
}

#qr{
    margin-left: 5px;  
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.e{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    align-items: center;
}    

#k0{
    font-family: 'Times New Roman', Times, serif;    
    font-size: 20px;
    font-weight: bold;
}

#k1{
    font-family: 'Times New Roman', Times, serif;    
    font-size: 19px;
}
/*PARTE FIGURA 5 - FIM*/

/*PARTE RODAPÉ - INICIO*/
.rod_link{
    text-decoration: none;
    color: purple;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rodape{
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-top-color: #A225F5;  
    border-top-style: solid;  
    border-top-width: 10px;
}

#rod_center{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#redes_sociais{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#rod_h2{
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*PARTE RODAPÉ - FIM*/